In [5]:
import pandas as pd
import os

In [6]:
os.listdir()

['tmax.csv',
 'climate_dev2.csv',
 '.DS_Store',
 'climate_dev1.csv',
 'prdf.csv',
 'Reconstruct Data.ipynb',
 'Untitled.ipynb',
 'tempdata',
 'climate_changemeta2.csv',
 'finaltemplatertomerge',
 'tmin.csv',
 'climate_changemeta.csv',
 'worldbankfinal.csv',
 'tmean.csv',
 'final',
 '.ipynb_checkpoints',
 'original_from_wb',
 'climate_change.csv',
 'climate_dev_meta.csv']

In [17]:
tmean = pd.read_csv(os.getcwd()+'/tmean.csv').drop(['Unnamed: 0'],axis=1)
tmax = pd.read_csv(os.getcwd()+'/tmax.csv').drop(['Unnamed: 0'],axis=1)
prdf = pd.read_csv(os.getcwd()+'/prdf.csv').drop(['Unnamed: 0'],axis=1)
tmin = pd.read_csv(os.getcwd()+'/tmin.csv').drop(['Unnamed: 0'],axis=1)

In [18]:
tmean = pd.melt(tmean, id_vars=['Date'], value_vars=tmean.columns).rename({'variable':'Country'})
tmax = pd.melt(tmax, id_vars=['Date'], value_vars=tmax.columns)
prdf = pd.melt(prdf, id_vars=['Date'], value_vars=prdf.columns)
tmin = pd.melt(tmin, id_vars=['Date'], value_vars=tmin.columns)

In [20]:
tmin.sort_values('variable')

       Date     variable  value
26221  1962  Afghanistan   5.46
26246  1987  Afghanistan   6.41
26245  1986  Afghanistan   5.82
26244  1985  Afghanistan   6.24
26243  1984  Afghanistan   5.86
...     ...          ...    ...
12273  1934     Zimbabwe  14.78
12272  1933     Zimbabwe  14.12
12271  1932     Zimbabwe  14.07
12299  1960     Zimbabwe  14.35
12359  2020     Zimbabwe  15.10

[26640 rows x 3 columns]