In [1]:
import pandas as pd
import os

In [6]:
os.listdir()

['tmax.csv',
 'climate_dev2.csv',
 '.DS_Store',
 'climate_dev1.csv',
 'prdf.csv',
 'Reconstruct Data.ipynb',
 'Untitled.ipynb',
 'tempdata',
 'climate_changemeta2.csv',
 'finaltemplatertomerge',
 'tmin.csv',
 'climate_changemeta.csv',
 'worldbankfinal.csv',
 'tmean.csv',
 'final',
 '.ipynb_checkpoints',
 'original_from_wb',
 'climate_change.csv',
 'climate_dev_meta.csv']

In [2]:
tmean = pd.read_csv(os.getcwd()+'/tmean.csv').drop(['Unnamed: 0'],axis=1)
tmax = pd.read_csv(os.getcwd()+'/tmax.csv').drop(['Unnamed: 0'],axis=1)
prdf = pd.read_csv(os.getcwd()+'/prdf.csv').drop(['Unnamed: 0'],axis=1)
tmin = pd.read_csv(os.getcwd()+'/tmin.csv').drop(['Unnamed: 0'],axis=1)

In [3]:
tmean = pd.melt(tmean, id_vars=['Date'], value_vars=tmean.columns).rename({'variable':'Country Name','value':'tmean','Date':'Year'},axis=1)
tmax = pd.melt(tmax, id_vars=['Date'], value_vars=tmax.columns).rename({'variable':'Country Name','value':'tmax','Date':'Year'},axis=1)
prdf = pd.melt(prdf, id_vars=['Date'], value_vars=prdf.columns).rename({'variable':'Country Name','value':'pr','Date':'Year'},axis=1)
tmin = pd.melt(tmin, id_vars=['Date'], value_vars=tmin.columns).rename({'variable':'Country Name','value':'tmin','Date':'Year'},axis=1)

       Year      Country Name   tmin
0      1901  Marshall Islands  24.84
1      1902  Marshall Islands  24.84
2      1903  Marshall Islands  24.84
3      1904  Marshall Islands  24.84
4      1905  Marshall Islands  24.84
...     ...               ...    ...
26635  2016        Tajikistan  -1.24
26636  2017        Tajikistan  -1.83
26637  2018        Tajikistan  -1.54
26638  2019        Tajikistan  -1.44
26639  2020        Tajikistan  -1.97

[26640 rows x 3 columns]