In [1]:
import pandas as pd
import os
import glob

Changing each csv to have the common column name to merge them all together using that

In [15]:
for file in os.listdir():
    if file.endswith('.csv'):
        df = pd.read_csv(file)
        df['CommonCol'] = df['Country Name'] + df['Year'].astype(str)
        df.to_csv(file)

In [14]:
for file in os.listdir():
    if file.endswith('.csv'):
        df = pd.read_csv(file)
        df2 = df[df['Year']>=1980]
        df2.to_csv(f'{file[:-4]}2.csv')
#We can see that all the files have the same shape

In [15]:
joined_files = os.path.join("*2.csv")

joined_list = glob.glob(joined_files)


data = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

In [45]:
mergeddf = pd.read_csv(joined_list[0])
for i in joined_list[1:]:
    x = pd.read_csv(i)
    x = x.drop(['Unnamed: 0','Unnamed: 0.1', 'Unnamed: 0.1.1','Year','Country Name'],axis=1)
    mergeddf = mergeddf.merge(x,how='inner',on='CommonCol')

In [46]:
mergeddf = mergeddf.drop(['Unnamed: 0','Unnamed: 0.1', 'Unnamed: 0.1.1'],axis=1)
pd.DataFrame(mergeddf.isna().sum())

                                   0
Country Name                       0
Year                               0
GDP                             1245
CommonCol                          0
expense_perc_gdp                6884
...                              ...
labor_force                     3624
methane_emissions               1468
Electricity Access              4151
Total Reserves                  4358
perc_protected_territory_land  10131

[76 rows x 1 columns]

In [47]:
mergeddf.to_csv('worldbankfinal.csv')